*{
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(217, 229, 240);
}

a{
    color: blue;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}
/*Navegacion*/

.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
    background-color:aqua;
}
.nav-brand{
    width: 120px;
    height: 80px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 6px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;

}

/*Show case*/
#showcase{
    padding: 50px;
    padding-right: 50px;
    width: 100%;
    height: 200px;
    background-image:url(../img/PruebaShow2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: .95;
    
    
    
}
/*BOTON*/
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: black;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
    
}
.btn:hover{
    opacity: .7;
}

#showcase h2, #showcase p{
    margin-bottom: 10px;
    color: #070707;
    font-weight: bold;
    
}
/*NEWS CARD*/
.newsCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px; /*espaceado interno*/
    margin: 10px 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.newsCard img{
    width: 100;
    height: 100px;

}
.newsCard h3{
    color: #070707;
    font-size: 20px;
    margin: 10px 0; /*10px arriba y abaja 0px hacia los lados*/
}
.newsCard a{
    padding: 10px 0;
    color: #070707;
    text-transform: uppercase;
    font-weight: bold;
}
.newsCard a:hover{
    text-decoration: underline;
}
/*banner*/
.cards-banner-one{
    
    width: 100%;
    height: 350px;
    background: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
    
    

}
.cards-banner-one .contenido{
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
    text-align: left;
}
.cards-banner-one p, .cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/*ESTILOS PARA EL FORMULARIO*/


