@import url('https://fonts.googleapis.com/css?family=Dacing+Script');
*{
    padding: 1px;
}
body h2{
    font-family: 'Dacing Script', cursive;
}
#TituloSuperior {
    font-size: 1.5rem;
    text-align: center;
}

header{
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,14,20,.8)), url(../imge/background.jpg);
    background-position: center center;
    background-size: cover;
}
#imagen_logo {
    width: 110%;
}
#mainNav a{
    color: white;
}
     

